*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* --body-bg: ; */
    background: rgb(2,0,36);
    background: linear-gradient(-135deg, rgb(7, 0, 140) 0%, rgb(17, 17, 195) 35%, rgba(0,212,255,1) 100%);
    font-family: sans-serif;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.game-board {
    --tile-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
}
.game-board-section {
    display: grid;
}
.game-board-section.vertical {
    width: calc(3 * var(--tile-size));
    grid-template-columns: repeat(3, 1fr);
}
.game-board-section.horizontal {
    grid-template-columns: repeat(6, 1fr);
}

.game-tile {
    --color-primary: white;
    border: 1px solid black;
    width: var(--tile-size);
    height: var(--tile-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}
.game-tile.safe {
    background-image: url(/src/assets/star.png);
    background-size: contain;
    background-position: center center;
}

/* playerblock-------------------------------- */
.playerblock {
    --color-primary: green;
    --color-dark: darkgreen;
    --color-light: lightgreen;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    background-color: var(--color-primary);
    color: black;
    font-weight: bolder;
}
.playerblock .housecontainer {
    width: calc(1.4 * var(--tile-size));
    height: calc(1.4 * var(--tile-size));
    display: grid;
    place-items: center;
    background-color: var(--color-dark);
    background-color: white;
    border-radius: .2rem;
    border: 1px solid black;
}
.playerblock .house {
    /* width: calc(var(--tile-size));
    height: calc(var(--tile-size)); */
    width: 90%;
    height: 90%;
    display: grid;
    place-items: center;
    background-color: var(--color-light);
    border: 1px solid black;
}

/* Marker */
.marker {
    --top: 0px;
    --left: 0px;
    opacity: 0;
    width: var(--tile-size);
    height: var(--tile-size);
    display: grid;
    place-items: center;
    position: absolute;
    transform: translate(-50%, -50%) scale(1.5);
    top: var(--top);
    left: var(--left);
    transition: all .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
